<div class="sellerList">
  <h5>Seller List</h5>  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Seller Name</th>
        <th>Currencies</th>
        <th>Offices</th>
        <th>Bidded Deals</th>
        <th>Guaranteed Deals</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.list">
        <td>{{item.name}}</td>
        <td>{{item.currencies.join(', ')}}</td>
        <td>{{item.offices.join(', ')}}</td>
        <td>{{item.biddedDeals ? 'Yes': 'No'}}</td>
        <td>{{item.guaranteedDeals ? 'Yes': 'No'}}</td>
        <td>
            <i class="action-edit fa fa-pencil fa-lg" aria-hidden="true" ng-click='$ctrl.editSeller(item)' title="Edit Row"></i>
        </td>
        <td>
            <i class="action-delete fa fa-trash fa-lg" aria-hidden="true" ng-click='$ctrl.deleteSeller(item)' title="Delete Row"></i>
        </td>
      </tr>
    </tbody>
  </table>  
</div>